.nav-wrapper {
	background-color: #55322b;
}

.slider > .indicators > .indicator-item.active {
	background-color: #55322b;
}

.move {
	margin-top: 60px;
	margin-bottom: 20px;
}

.parallax-container {
	min-height: 280px;
	height: auto;
}

.menu-icon {
	font-size: 1rem !important;
	margin-right: 1rem;
	cursor: pointer;
}

.menu-icon:hover {
	font-size: 1.5rem !important;
}

.icon-coffee {
	color: #ffffff;
}

.footer-one {
	background-color: #55322b;
}

.footer-two {
	background-color: #462822;
}

.brand-logo {
	margin-left: 1rem;
}

body {
	width: auto;
	height: 100vh;
	background-color: #6f4037 !important;
	color: snow;
}

.bg-darkBrown {
	background-color: #55322b !important;
}